html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, #dbeeff, #cbe6ff);
  color: #000000;
  overflow: hidden;
}

.card {
  background-color: #afd7ffa3;
  border-width: 0px;
  border-radius: 1.5em;
}

.horizontal-scrollable {
  overflow-x: scroll;
}

.vertical-scrollable {
  overflow-y: scroll;
}
